*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  /* border: 2px solid red; */
  width: min(1200px, 90%);
  margin: 0 auto;
  padding: 2rem 0;
}
h1 {
  text-align: center;
}

#gif-search-form {
  border: 2px solid blue;
  max-width: 600px;
  margin: 0 auto 2rem;
}

#gif-search-form > div {
  border: 2px solid red;
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

#gif-search {
  flex: 1;
  padding: 0.75rem;
}

button {
  padding: 0.75rem 1rem;
  cursor: pointer;
}

#status-message {
  text-align: center;
  margin: 1rem 0;
}

#gif-container {
  display: grid;
  grid-template-columns: auto-fill, minmax(200px, 1fr);
  gap: 1rem;
}
